body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-attachment: fixed;
    background-color: aqua;
    font-size: large;
    margin: 0px;
    padding: 0px;
}
.nav-bar{
    background-color: #FFFFFF;
    border: 10px solid orangered;
    border-radius: 30px 30px 30px;
    padding:0px;
    margin: 0rem;
    position: fixed;
    width: 96%;
    text-transform: capitalize; 
}
li{
    background-color: green;
    display: inline-block;
    border:5px hidden green;

}
.ul li{
    padding: 1px 50px 1px 50px;
    


}
.ul a{
    color: #FFFFFF;
}
#home{
    background-color: green;
    border: 5px solid orangered;
    padding: 10%;
    color: #FFFFFF;
    text-align: center;
}
h1{
    background-color: orangered;
    border: 2px solid orangered;
    border-radius: 5px;
    text-align: center;
}
#resume,#contact,#active{
    text-align: center;
}